.main {
  background: url(/src/images/TopBackground.jpg) no-repeat top center;
  padding: 50px 0;

  &_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
